%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-
%% ex: ts=2 sw=2 ft=erlang et
[
 {wocky, [
   {start_ejabberd, false},
   {cqerl_node, {"127.0.0.1", 9042}},
   {keyspace_prefix, "wocky_test_"}
 ]},

 {cqerl, [
   {maps, true},
   {auth, {cqerl_auth_plain_handler, [{"cassandra", "cassandra"}]}}
 ]},

 {setup, [
   {verify_directories, false}
 ]},

 {kernel, [
   {start_pg2, true}
 ]},

 {sasl, [
   {sasl_error_logger, false},
   {errlog_type, error},
   {error_logger_mf_dir, "_build/test/log/sasl"},
   {error_logger_mf_maxbytes, 10485760},
   {error_logger_mf_maxfiles, 10}
 ]},

 {lager, [
   {colored, true},
   {log_root, "_build/test/log"},
   {crash_log, "crash.log"},
   {error_logger_hwm, 500},
   {handlers, [
     {lager_console_backend, [
        critical,
        {lager_default_formatter, [time, color, " [",severity,"] ", message, "\e[0m\r\n"]}
     ]},
     {lager_file_backend, [
       {file, "test.log"},
       {level, debug},
       {size, 2097152},
       {date, "$D0"},
       {count, 5}
     ]}
   ]}
 ]},

 {mnesia, [
   {dir, "_build/test/log/mnesia"}
 ]}

 %% {pooler, [
 %%   {metrics_module, folsom_metrics}
 %% ]}

 %% {exometer, [
 %%   {wocky_report_interval, 60000}, %% 60 seconds
 %%   {report, [
 %%     {reporters, [
 %%       {exometer_report_graphite, [
 %%         {prefix, "wocky"},
 %%         {connect_timeout, 5000},
 %%         {host, "127.0.0.1"},
 %%         {port, 2003},
 %%         {api_key, ""}
 %%       ]}
 %%     ]}
 %%   ]}
 %% ]}
].
