%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-
%% ex: ts=2 sw=2 ft=erlang et
[
 {cqerl, [
   {maps, true},
   {text_uuids, true},
   {auth, {cqerl_auth_plain_handler, [{"cassandra", "cassandra"}]}}
 ]},

 {setup, [
   {verify_directories, false}
 ]},

 {kernel, [
   {start_pg2, true}
 ]},

 {sasl, [
   {sasl_error_logger, false}
 ]},

 {lager, [
   {colored, true},
   {log_root, "log"},
   {crash_log, "crash.log"},
   {error_logger_hwm, 500},
   {handlers, [
     {lager_console_backend, [
        critical,
        {lager_default_formatter, [time, color, " [",severity,"] ", message, "\e[0m\r\n"]}
     ]},
     {lager_file_backend, [
       {file, "wocky.log"},
       {level, warning},
       {size, 2097152},
       {date, "$D0"},
       {count, 5}
     ]},
     {lager_file_backend, [
       {file, "debug.log"},
       {level, debug},
       {size, 2097152},
       {date, "$D0"},
       {count, 5}
     ]}
   ]}
 ]},

 {mnesia, [
   {dir, "data"}
 ]}
].
