#
# You can add personal rules in your file .git/info/exclude
deps
ebin
test/nodes
_build
_checkouts
_rel/*
.eunit
.rebar
.deliver/releases
*.nonode@nohost
log/*
.vagrant
doc/*.html
doc/*.css
doc/*.png
doc/edoc-info
/RELEASE
*.retry
