#
# You can add personal rules in your file .git/info/exclude
deps
ebin
_build
_checkouts
rel/wocky
.eunit
.rebar
*.nonode@nohost
log/*
.vagrant
doc/*.html
doc/*.css
doc/*.png
doc/edoc-info
/RELEASE
*.retry
*_dump.cql
