# You can add personal rules in your file .git/info/exclude
/_build
/deps
/RELEASE
cover
log
tmp
doc
.eunit
.rebar
.vagrant
*.nonode@nohost
erl_crash.dump
codeship.aes
dockercfg
aws.env
circleci.env
waiter.cfg
.tool-versions*
/db_dump.gz
