%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{plugins, [pc]}.

{erl_opts, [debug_info,
            {i, ["include"]},
            {parse_transform, lager_transform}]}.

{require_otp_vsn, "1[78]"}.

{deps,
 [
  %% wocky dependencies
  {seestar,       {git, "git://github.com/bengtan/seestar.git",       {ref, "41927ab"}}},
  {ossp_uuid,     {git, "git://github.com/toland/erlang-ossp-uuid",   {tag, "v1.0.1"}}},
  {pooler,        {git, "git://github.com/seth/pooler",               {tag, "1.5.0"}}},

  %% ejabberd dependencies
  {edown,         {git, "git://github.com/uwiger/edown.git",          {tag, "0.7"}}},
  {base16,        {git, "git://github.com/goj/base16.git",            {ref, "1e9dd2"}}},
  {cuesport,      {git, "git://github.com/esl/cuesport.git",          {ref, "d82ff2"}}},
  {redo,          {git, "git://github.com/JacobVorreuter/redo.git",   {ref, "7c7eae"}}},
  {exml,          {git, "git://github.com/esl/exml.git",              {tag, "2.2.0"}}},
  {lager,         {git, "git://github.com/basho/lager.git",           {ref, "b7984d4"}}},
  {cowboy,        {git, "git://github.com/ninenines/cowboy.git",      {tag, "1.0.1"}}},
  {folsom,        {git, "git://github.com/boundary/folsom.git",       {tag, "0.8.2"}}},
  {exometer,      {git, "git://github.com/esl/exometer.git",          {branch, "1.1-patched"}}},
  {mochijson2,    {git, "git://github.com/bjnortier/mochijson2.git",  {branch, "master"}}},
  {alarms,        {git, "git://github.com/toland/alarms.git",         {tag, "0.1.1"}}},
  {fusco,         {git, "git://github.com/esl/fusco.git",             {branch, "master"}}},
  {idna,          {git, "git://github.com/benoitc/erlang-idna.git",   {tag, "1.0.1"}}},

  {protobuffs,    {git, "git://github.com/esl/erlang_protobuffs.git", {branch, "OTP18"}}},
  {riakc,         {git, "https://github.com/esl/riak-erlang-client",  {branch, "fix/dialyzer"}}},

  {p1_utils,      {git, "git://github.com/processone/p1_utils",       {ref, "940f42d"}}},
  {p1_cache_tab,  {git, "git://github.com/processone/cache_tab",      {ref, "7b89d6a"}}},
  {p1_stringprep, {git, "git://github.com/processone/stringprep.git", {ref, "9e9e0f8"}}},

  {proper,        {git, "git://github.com/manopapad/proper.git",      {ref, "20e62bc"}}},
  {meck,          {git, "git://github.com/eproxus/meck.git",          {tag, "0.8.3"}}},

  {pa,            {git, "git://github.com/lavrin/pa.git",             {ref, "c616d3f"}}},
  {ecoveralls,    {git, "git://github.com/nifoc/ecoveralls.git",      {ref, "40fa0d2"}}},
  {mustache,      {git, "git://github.com/mojombo/mustache.erl.git",  {ref, "d0246fe"}}},
  {recon,         {git, "git://github.com/ferd/recon.git",            {tag, "2.2.1"}}}
 ]}.

{overrides,
 [{override, setup, [{post_hooks, []}]},
  {override, riak_pb, [{pre_hooks, [{compile, "./rebar compile deps_dir=.."}]}]},
  {override, exometer,
   [{post_hooks, [{compile, "[ -f ../../../../include ] && mv ../../../../include include/EXOMETER-MIB.hrl"}]}]},
  {override, p1_stringprep,
   [{provider_hooks, [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}]},
  {override, exml,
   [{provider_hooks, [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}]},
  {override, ejabberd,
   [{pre_hooks, [{compile, "erlc -o ./src -I ./include +noobj ./asn1/*"}]},
    {provider_hooks, [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
   ]}
 ]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false},
                  {include_erts, true},
                  {include_src, false}]}]},

  {test_node1, [{relx, [{vm_args, "config/test_node1/vm.args"},
                        {overlay, [{mkdir, "log/sasl"},
                                   {copy, "bin", "."},
                                   {copy, "priv/ssl", "priv/ssl"},
                                   {copy, "etc/test_node1/ejabberd.cfg", "priv/ejabberd.cfg"}
                                  ]}]}]},

  {test_node2, [{relx, [{vm_args, "config/test_node2/vm.args"},
                        {overlay, [{mkdir, "log/sasl"},
                                   {copy, "bin", "."},
                                   {copy, "priv/ssl", "priv/ssl"},
                                   {copy, "etc/test_node2/ejabberd.cfg", "priv/ejabberd.cfg"}
                                  ]}]}]}
 ]}.

{relx, [{release, {"wocky", semver},
         [wocky,
          ejabberd,
          seestar,
          ossp_uuid,
          fusco,
          p1_utils,
          p1_cache_tab,
          pa,
          cuesport,
          base16,
          alarms,
          idna,
          recon,
          setup,
          runtime_tools,
          xmerl
         ]},

        {dev_mode, true},
        {include_erts, false},

        {generate_start_script, false},
        {extended_start_script, false},

        {sys_config, "etc/sys.config"},
        {vm_args, "etc/vm.args"},

        {overlay, [{mkdir, "log/sasl"},
                   {copy, "bin", "."},
                   {copy, "priv/ssl", "priv/ssl"},
                   {copy, "etc/ejabberd.cfg", "priv/ejabberd.cfg"}
                  ]}
   ]}.


{xref_warnings, false}.
{xref_extra_paths,[]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B"
   " - (\"cassandra_backend\":\"backend\"/\"0\"))", []}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{eunit_tests, [{application, wocky}]}.
{eunit_opts, [verbose]}.

{ct_opts, [{dir, "apps/wocky/test"}]}.

{dialyzer, [
    {warnings, [underspecs, no_return, unmatched_returns]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, [ejabberd]},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [compiler, crypto, erts, kernel, stdlib, mnesia, ssl, ssh,
                     xmerl, public_key, tools, sasl, hipe, edoc, syntax_tools,
                     runtime_tools, inets, webtool, asn1]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

{shell, [
         {apps, [wocky]},
         {config, "etc/dev.config"}
        ]}.
