{node_name, "mongooseim@localhost"}.
{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"localhost.bis\"
         ]"}.
{cowboy_port, 5280}.
{cowboy_port_secure, 5285}.
{https_config, "{cert, \"priv/ssl/fake_cert.pem\"}, {key, \"priv/ssl/fake_key.pem\"}, {key_pass, \"\"},"}.
{http_api_endpoint, "{5288, \"127.0.0.1\"}"}.
{ejabberd_c2s_port, 5222}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls,"}.
{zlib, "{zlib, 10000},"}.
{secondary_c2s,
    "{ 5223, ejabberd_c2s, [
    {zlib, 4096},
    {access, c2s},
        {shaper, c2s_shaper},
        {max_stanza_size, 65536}
    ]},"}.
{ejabberd_s2s_in_port, 5269}.
{outgoing_s2s_port, 5279}.
{s2s_default_policy, allow}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{ {s2s_addr, "localhost2"}, {127,0,0,1} }.
{ {s2s_addr, "michal"}, {127,0,0,1} }.
{host_config,
"{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                        {allow_multiple_connections, true},
                                        {anonymous_protocol, both}]}." }.
{mod_amp, "{mod_amp, []},"}.
{registration_watchers, "{registration_watchers, [\"admin@localhost\"]},"}.
