{node_name, "ejabberd2@localhost"}.
{hosts, "[ \"localhost2\", \"michal\"]"}.
{cowboy_port, 5281}.
{cowboy_port_secure, 5286}.
{https_config, ""}.
{http_api_endpoint, "{5289, \"127.0.0.1\"}"}.
{ejabberd_c2s_port, 5232}.
{tls_cofig, ""}.
{zlib, "%{zlib, 10000},"}.
{secondary_c2s, ""}.
{ejabberd_s2s_in_port, 5279}.
{outgoing_s2s_port, 5269}.
{s2s_default_policy, allow}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{host_config, ""}.
{mod_amp, ""}.
{registration_watchers, "%%{registration_watchers, [\"admin@localhost\"]},"}.
