{release, {"wocky", semver},
 [wocky,
  ejabberd,
  seestar,

  fusco,
  p1_utils,
  p1_cache_tab,
  pa,
  base16,
  cuesport,
  alarms,
  idna,
  recon,
  setup,
  mochijson2,
  runtime_tools,
  xmerl
 ]}.

{dev_mode, false}.
{include_erts, true}.
{include_src, false}.

{generate_start_script, false}.
{extended_start_script, false}.

{overlay_vars, "vars.config"}.
{overlay, [{mkdir, "log/sasl"},

           {copy, "files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/wockyctl", "bin/wockyctl"},
           {copy, "files/wocky", "bin/wocky"},

           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/ejabberd.cfg", "etc/ejabberd.cfg"},

           {mkdir, "priv/ssl"},
           {copy, "../fake_cert.pem", "priv/ssl/fake_cert.pem"},
           {copy, "../fake_key.pem", "priv/ssl/fake_key.pem"},
           {copy, "../fake_server.pem", "priv/ssl/fake_server.pem"}
          ]}.

